/* header styles */
.header {
  position: absolute;
  width: 100%;
  border-bottom: 2px solid var(--bcg-color);

  &-menu {
  display: flex;
  justify-content: space-between;
}

& -list {
  display: flex;
  align-items: center;
}

    &-link {
  color: var(--text-color-primary);
  padding-top: 31px;
  padding-bottom: 30px;
  text-decoration: none;
}

    &-list &item + &-item {
  margin-left: 52px;
}

    &-logo {
  color: var(--text-color-primary);
  padding-top: 24px;
  padding-bottom: 14px;
  display: flex;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  align-items: center;
}

.img-logo {
  margin-right: 16px;
}

  &-btn {
  padding: 10px 34px;
  background-color: transparent;
  font-weight: 800;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 23px;
  cursor: pointer;
  line-height: 1.25;
  text-decoration: none;
  color: var(--text-color-primary);
  border: 1px solid var(--text-color-primary);
  border-radius: 16px;
}

}


