:root {
  --bcg-color: #000000;
  --link-text-family: "Inter";
  --text-color-pramary: #f3f3f3;
  --secondary-text-color: #979797;
  --link-hover-color: rgba(188, 26, 26, 0.5);
  --text-color-primary: #f3f3f3;
  --transition: 250ms linear;
}