<!---header-->
  <header class="header">
      <div class="container">
        <nav class="header-menu">
          <a href="./index.html" class="header-logo link">
            <img
              src="./image/logo.svg"
              class="img-logo"
              alt="tomato"
              width="32"
              height="32"
            />
            cucina
          </a>
          <ul class="header-list">
            <li class="header-item">
              <a href="./index.html" class="header-link link">Home</a>
            </li>
            <li class="header-item">
              <a href="#" class="header-link link">Store</a>
            </li>
            <li class="header-item">
              <a href="#" class="header-link link">Recipes</a>
            </li>
            <li class="header-item">
              <a href="#" class="header-link link">Gallery</a>
            </li>
          </ul>
        </nav>
        <button type="button" class="header-btn">Contact us</button>
      </div>
    </header>